/* google font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column ;
    align-items: center;
}
    


.container {
    width: 1321px;
    margin-top: 10px;
    background: #161616;
    border-radius: 30px;
    height: 600px;
    
}
/* top part style */

.top-banner{
    display: flex;
}
.top-banner-text {
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
}
h1 {
    width: 531px;
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    color: #FFFFFF;
    margin: 0;

}
p {
    width: 506px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
}
.watch-live-button {
    text-decoration: none;
    width: 187px;
    font-weight: 900;

    color: white;
    background: #DD0000;
    border-radius: 5px;
    padding: 15px 24px;
    
}
    .top-banner-img>img{
        width: 484px;
    padding-right: 79px;
    padding-top: 33px;
    margin-bottom: 0;
    height:567px;
    }
    .watch-live-button:hover{
        background-color: darkgreen;
        color:darkblue;
        transition: 0.7s;
    }
    /* mid-part */
    .mid-part {
        display: flex;
        align-items: row;
        justify-content: space-between;
        
        margin-top: 100px;
        background-color: #FFFFFF;
    }
    /* side-bar */
    aside {
        margin-right: 24px;
    }
    .side-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #161616;
        border-radius: 10px;
        padding: 35px;
        margin-left: 35px;
        height:150px;
        width: 240px;
        text-align: center;
       
    }
    .button {
        
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 14px;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px 30px;
        margin-top: 2px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    
    .blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:24px;
      
    }

.blog {
    width: 312px;

    border: 1px solid rgb(242, 241, 241);
    border-radius: 10px;
}
.blog img{
    width: 312px;
}
.blog-info{
    padding: 20px;
}
.click {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 4px 16px;
}
.icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: grey
}
/* footer style */
footer {
    width: 100%;
    margin-top: 120px;
    background-color: black;

    padding-top: 130px;
}
h2 {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 40px;
}
hr {

    width: 1320px;
    border: 2px solid darkgray;
}
.footer-button {

    display: flex;
    justify-content: center;
    column-gap: 50px;

}
.footer-button-name {

    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;


}

.social-media-icon {
    padding-top: 120px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin: 0;
}
.icon {
    font-size: 40px;
    color: white;
}
   
        
    


   